/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "primeicons/primeicons.css";

:root{
    --quicksand: "Quicksand", sans-serif;
    --cinza: rgb(81, 81, 81);
    --border: 2px solid var(--cinza);
    --border-radius: 10px;
}