<div class="cadastro-main">
    <h1>Cadastrar-se</h1>

    <p-floatlabel variant="on">
        <input pInputText id="on_label" autocomplete="off" />
        <label for="on_label">Nome</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText id="on_label" autocomplete="off" />
        <label for="on_label">Nome de usuário</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on">
        <input pInputEmail id="on_label" autocomplete="off" />
        <label for="on_label">E-mail</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
        <input pInputText id="on_label" autocomplete="off" />
        <label for="on_label">Senha</label>
    </p-floatlabel>

    <p-button label="Entrar" />
</div>