.estante-main{
    display: flex;
}

.add-livro{
    display: flex;
    flex-direction: column;
    font-family: var(--quicksand);
    align-items: center;
    width: 25rem;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    height: 27rem;
}

.add-livro label{
    margin: 0.5rem;
}

.add-livro p-button{
    margin: 1rem;
}

.listar-livros ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.listar-livros li{
    display: flex;
    font-family: var(--quicksand);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 1rem;
}

.listar-livros li img{
    height: 200px;
    margin-right: 1rem;
}

